<div class="player-score-container">
    <div class="player-score-title-container">
        <div class="player-score-icon">
            <i class="fas fa-trophy trophy-icon"></i>
        </div>
        <div class="player-score-title">Scores</div>
    </div>
    <div class="player-scores-values-container">
        <div class="player-score-value-container">
            <div class="player-score-icon-title-container">
                <div class="player-score-value-icon player-1-icon"></div>
                <div class="player-score-value-title">Player 1</div>
            </div>
            <div class="player-score-numeric-value-container">
                <div class="player-score-value">{{ scoreService.player1Score }}</div>
            </div>
        </div>
        <div class="player-score-value-container">
            <div class="player-score-icon-title-container">
                <div class="player-score-value-icon player-2-icon"></div>
                <div class="player-score-value-title">Player 2</div>
            </div>
            <div class="player-score-numeric-value-container">
                <div class="player-score-value">{{ scoreService.player2Score }}</div>
            </div>
        </div>
    </div>
    
</div>
