.game-piece-container {
    height: 100%;
    width: 100%;
}

.game-piece-player-1-border {
    border: 5px solid darkred;
}

.game-piece-player-2-border {
    border: 5px solid darkblue;
}

.game-piece {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
