<div class="game-screen-container">
    <h1 class="game-screen-title">Connect Four</h1>
    <h2 class="game-screen-subtitle">Drop your pieces and connect four in a row to win!</h2>

    <div class="game-board-elements-container">
        <app-game-board class="game-board"></app-game-board>
        <app-player-turn class="player-turn-card"></app-player-turn>
        <app-player-score class="player-score-card"></app-player-score>
        <app-game-buttons
         (newGame)="handleNewGame()"
         (resetScores)="handleResetScores()"
         class="game-buttons-card"></app-game-buttons>
        <div class="card how-to-play-card">
            How to play placeholder
        </div>
    </div>
</div>