<div class="game-screen-container">
    <h1 class="game-screen-title">Connect Four</h1>
    <h2 class="game-screen-subtitle">Drop your pieces and connect four in a row to win!</h2>

    <div class="game-board-elements-container">
        <app-game-board class="game-board"></app-game-board>
        <app-player-turn class="card player-turn-card"></app-player-turn>
        <app-player-score class="card player-score-card"></app-player-score>
        <div class="buttons-container">
            <button class="new-game-button">New Game</button>
            <button class="reset-scores-button">Reset Scores</button>
        </div>
        <div class="card how-to-play-card">
            How to play placeholder
        </div>
    </div>
</div>